html,
body {
  font-family: Roboto, sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.intro {
  min-height: 55vh;
  padding-top: 45vh;
  
  background-image: url('images/computer.jpg');
  /* -webkit-filter: grayscale(100%); 
  filter: grayscale(100%); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(255,255,255);
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  text-shadow: 2px 2px 2px rgb(0,0,0);
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgba(255,255,255,0.7);
}

.work {
  padding-top: 60px;
  margin-top: -60px;
}

.work .work-header {
  margin-top: 50px;
  color: grey;
  font-weight: normal;
}

.project {
  text-decoration: none;
  color: grey;
  display: inline-block;
  overflow: hidden;
  /* border: 1.5px solid grey; */
  height: 220px;
  width: 280px;
  margin: 40px 100px;
}

.project-pic {
  width: 99%;
  height: 180px;
  border: 1px solid grey;
}

.project-title {
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}

.contact {
  /*   height:800px; */
  /*   min-height:800px; */
  background: rgba(0,0,0,0.75);
  padding-bottom: 160px;
}

.header {
  color: white;
  padding: 160px 0 110px;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid rgba(0,0,0,0.6);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: rgb(242,242,242);
  color: black;
  text-decoration: none;
}

.contact-details:hover {
  background: rgb(0,0,0);
  color: grey;
}

footer {
  padding: 20px;
  background: rgba(0,0,0,0.8);
  color: white;
  line-height: 40px;
}

footer a {
  color: white;
}

@media only screen and (max-width: 367px) {
  /*    #contact{
    min-height:1100px;
  } */
  .contact-details {
    border: 2px solid rgba(0,0,0,0.6);
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}